# defuse_index: File:///home/jacob/munge/defuse/defuse_input_gencode74_with_config.tgz

defuse: 
 index_url: file:///home/jacob/munge/defuse/defuse_dummpy_reference
 output: file:///home/jacob/munge/defuse/results.tsv

gencode:
 url: file:///home/jacob/munge/defuse/gencode.v19.annotation.gtf
