ssec:
pipeline-to-run: both
skip-alignment: False
skip-preprocessing: False
sequence-dir: sequence
autoscale-cluster: False
s3-bucket:
bucket-region: us-west-2
cpu-count:
program-unit: 12345
platform: ILLUMINA
ref: s3://cgl-pipeline-inputs/variant_grch38_reordered/GRCh38_full_analysis_set_plus_decoy_hla.reordered.fa
amb: s3://cgl-pipeline-inputs/variant_grch38_reordered/GRCh38_full_analysis_set_plus_decoy_hla.reordered.fa.amb
ann: s3://cgl-pipeline-inputs/variant_grch38_reordered/GRCh38_full_analysis_set_plus_decoy_hla.reordered.fa.ann
bwt: s3://cgl-pipeline-inputs/variant_grch38_reordered/GRCh38_full_analysis_set_plus_decoy_hla.reordered.fa.bwt
pac: s3://cgl-pipeline-inputs/variant_grch38_reordered/GRCh38_full_analysis_set_plus_decoy_hla.reordered.fa.pac
sa: s3://cgl-pipeline-inputs/variant_grch38_reordered/GRCh38_full_analysis_set_plus_decoy_hla.reordered.fa.sa
fai: s3://cgl-pipeline-inputs/variant_grch38_reordered/GRCh38_full_analysis_set_plus_decoy_hla.reordered.fa.fai
alt: s3://cgl-pipeline-inputs/variant_grch38_reordered/GRCh38_full_analysis_set_plus_decoy_hla.reordered.fa.alt
phase: s3://cgl-pipeline-inputs/variant_grch38_reordered/1000G_phase1.snps.high_confidence.grch38.reordered.vcf
mills: s3://cgl-pipeline-inputs/variant_grch38_reordered/Mills_and_1000G_gold_standard.indels.grch38.reordered.vcf
dbsnp: s3://cgl-pipeline-inputs/variant_grch38_reordered/ALL_20141222.dbSNP142_human_GRCh38.snps.vcf
hapmap: s3://cgl-pipeline-inputs/variant_grch38_reordered/hapmap_3.3.grch38.reordered.vcf
omni: s3://cgl-pipeline-inputs/variant_grch38_reordered/1000G_omni2.5.grch38.reordered.vcf
trim-adapters: False
num-nodes: 9              # Number of nodes to use. Do not set if providing master_ip.
master-ip:                # IP or hostname of host running for Spark master and HDFS namenode. Should be provided
                          # instead of num-nodes if pointing at a static (external or standalone) Spark cluster.
                          # The special value 'auto' indicates the master of standalone cluster, i.e. one that is
                          # managed by the uberscript.
file-size: 100G           # Approximate input file size. Should be given as %d[TGMK], e.g.,
                                  # for a 100 gigabyte file, use file_size: '100G'
ssec:                     # (string) Path to Key File for SSE-C Encryption
dir-suffix: /GRCh38       # Optional suffix to add to output directory names.
memory:                   # Amount of available memory on each worker node.
