pipeline-to-run: both
skip-alignment: False
skip-preprocessing: False
sequence-dir: sequence
autoscale-cluster: False
s3-bucket:
bucket-region: us-west-2
cpu-count:
program-unit: 12345
platform: ILLUMINA
ref: s3://cgl-pipeline-inputs/variant_hg19_reordered/hg19.fa
amb: s3://cgl-pipeline-inputs/variant_hg19_reordered/hg19.fa.amb
ann: s3://cgl-pipeline-inputs/variant_hg19_reordered/hg19.fa.ann
bwt: s3://cgl-pipeline-inputs/variant_hg19_reordered/hg19.fa.bwt
pac: s3://cgl-pipeline-inputs/variant_hg19_reordered/hg19.fa.pac
sa: s3://cgl-pipeline-inputs/variant_hg19_reordered/hg19.fa.sa
fai: s3://cgl-pipeline-inputs/variant_hg19_reordered/hg19.fa.fai
phase: s3://cgl-pipeline-inputs/variant_hg19_reordered/1000G_phase1.indels.hg19.sites.vcf
mills: s3://cgl-pipeline-inputs/variant_hg19_reordered/hapmap_3.3.hg19.sites.vcf
dbsnp: s3://cgl-pipeline-inputs/variant_hg19_reordered/dbsnp_138.hg19.vcf
hapmap: s3://cgl-pipeline-inputs/variant_hg19_reordered/hapmap_3.3.hg19.sites.vcf
omni: s3://cgl-pipeline-inputs/variant_hg19_reordered/1000G_omni2.5.hg19.sites.vcf
alt:
trim-adapters: False
num-nodes: 9              # Number of nodes to use. Do not set if providing master_ip.
master-ip:                # IP or hostname of host running for Spark master and HDFS namenode. Should be provided
                          # instead of num-nodes if pointing at a static (external or standalone) Spark cluster.
                          # The special value 'auto' indicates the master of standalone cluster, i.e. one that is
                          # managed by the uberscript.
file-size: 100G           # Approximate input file size. Should be given as %d[TGMK], e.g.,
                                  # for a 100 gigabyte file, use file_size: '100G'
ssec:                     # (string) Path to Key File for SSE-C Encryption
dir-suffix: /hg19         # Optional suffix to add to output directory names.
memory: 225               # Amount of available memory on each worker node.